name: Lint


on:
  push:
    branches:
      - main
  pull_request:


permissions:
  contents: read


jobs:
  lint:
    timeout-minutes: 10
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: ./.github/actions/setup

      - name: Lint
        run: poetry run task lint
